<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Garage</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            text-align: center;
            vertical-align: middle;
            padding: 12px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        td {
            background-color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<body>
    <div id="content">
        <h1><a href="/">Home</a></h1>
        <h1>Money: {{.money}}$</h1>
        <h2>Owned:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Level / Max Level (Price to Upgrade)</th>
                    <th>Engine (Increment)</th>
                    <th>Agility (Increment)</th>
                    <th>Brakes (Increment)</th>
                    <th>Aerodynamics (Increment)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range .owned }}
                <tr>
                    <td><b>{{.Motorcycle.Name}}</b></td>
                    <td><b>{{.Level}}</b> / {{.Motorcycle.MaxLevel}} ({{.Motorcycle.PriceToUpgrade}})
                        {{ if ne .Level .Motorcycle.MaxLevel }}
                        <form action="/private/garage/upgrade" method="POST">
                            <input type="hidden" name="id" value="{{.Motorcycle.Id}}">
                            <input type="submit" value="Upgrade">
                        </form>
                        {{ end }}
                    </td>
                    <td>{{.Motorcycle.Engine}} ({{.Motorcycle.EngineIncrement}})</td>
                    <td>{{.Motorcycle.Agility}} ({{.Motorcycle.AgilityIncrement}})</td>
                    <td>{{.Motorcycle.Brakes}} ({{.Motorcycle.BrakesIncrement}})</td>
                    <td>{{.Motorcycle.Aerodynamics}} ({{.Motorcycle.AerodynamicsIncrement}})</td>
                    <td> 
                        {{ if .RacingStatus.Status }}
                        <p>Racing in <b>{{.RacingStatus.TrackName}}</b></p>
                        {{ else }}
                        <form action="/private/race/start" method="POST">
                            <input type="submit" value="Start in Random Track">
                            <input type="hidden" name="id" value="{{.Motorcycle.Id}}">
                        </form>
                        {{ end }}
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <h2>Not Owned:</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price to Buy</th>
                    <th>Max Level (Price to Upgrade)</th>
                    <th>Engine (Increment)</th>
                    <th>Agility (Increment)</th>
                    <th>Brakes (Increment)</th>
                    <th>Aerodynamics (Increment)</th>
                </tr>
            </thead>
            <tbody>
                {{ range .not_owned }}
                <tr>
                    <td><b>{{.Name}}</b></td>
                    <td><b>{{.PriceToBuy}}</b>
                        <form action="/private/garage/buy" method="POST">
                            <input type="hidden" name="id" value="{{.Id}}">
                            <input type="submit" value="Buy">
                        </form>
                    </td>
                    <td>{{.MaxLevel}} ({{.PriceToUpgrade}})</td>
                    <td>{{.Engine}} ({{.EngineIncrement}})</td>
                    <td>{{.Agility}} ({{.AgilityIncrement}})</td>
                    <td>{{.Brakes}} ({{.BrakesIncrement}})</td>
                    <td>{{.Aerodynamics}} ({{.AerodynamicsIncrement}})</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>