<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<body>
    <div id="content">
        <h1>Welcome {{ .username }}</h1>
        <h1><a href="/private/garage">Garage</a></h1>
        <h1><a href="/private/history">Race History</a></h1>
        <h1><a href="/leaderboard">Leaderboard</a></h1>
        <h1>Logout</h1>
        <form action="/private/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>

</html>